body {
  background-color: #222327;
}

.logo-spotify {
  height: 200px;
  width: 200px;
}

.modal-body, .modal-header {
  background-color: #121314;
}

h1, h2, h3, h4, h5, h6, p, li,
#name-label,
a
 {
  color: white;
}

h1, h2, h3, h4, h5, h6, p, li,
#name-label,
a
 {
  color: #88898C;
}

.container, .left-column, .right-column, .submit-button {
  text-align: center;
}
 .form-control {
   margin: auto;
   width: 60%;
   height: 40px;
   font-size: 20px;
 }

img {
  height: 100px;
}

ul li {
  text-decoration: none;
  list-style:none;
  text-align: left;
  border: 1px solid grey;
}

.artist_name, .album_name, .album-tracks {
  font-size: 20px;
  padding: 5px 20px;
}

.artist_name{
  padding-left: 30px;
}

.js-album-result li:hover a, .js-tracks-result li:hover {
  color: #84BD00;
}

.js-search-result li:hover {
  color: white;
}

.js-search-result li:hover, .artist_name:hover, .js-album-result li:hover, li.preview-song:hover {
  cursor: pointer;
  background: rgba(255,255,255,.4);
  opacity: .8;
  color: #84BD00 !important;
}

#name-label {
  font-size: 20px;
}
